

!data/raw/**/*.dvc
!data/processed/**/*.dvc
!data/*.dvc


# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.egg-info/

# Data
data/*
mlruns/
predictions/
logs/



# PyTorch
models/*.pt

# IDEs
.vscode/
.idea/
.DS_Store

# Docker
*.log
*.pid

# DVC
.dvc/cache/
.dvc/tmp/

